@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   
}

  
.blog_1{
    margin-left: 90px;
    margin-right: 90px;
}
.image{
    margin-left: 180px;
    margin-top: 65px;
}
.next{
    margin-left: 5000px;
    margin-bottom:60px;
}
.header h1{
    color: rgb(70, 242, 70);
    text-align:  center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.header h2{
    color:  var(--secondary-color);
    margin-left: 180px;
}
.header li{
    color: var(--secondary-color);
    margin-left: 180px;
    font-size:19px;
}

.uses h2{
    color: var(--secondary-color);
    margin-left: 180px;
    margin-top: 30px;
}

.uses li{
    color: var(--secondary-color);
    margin-left: 180px;
    font-size:19px;

}

