@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   
}

.nav-item{
    word-spacing: 0px;
}

/*navbar*/
.navbar{
    --bs-navbar-active-color:black;
}

.nav-link{
    color:black;
}
/*next and Previous buttton*/
.nextprev a.w3-right, .nextprev a.w3-left {
    background-color: #e3eae7;
    color: #04AA6D;
    border-color: #04AA6D;

}

.nextprev a {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.ws-btn {
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none; 
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-right {
    float: right!important;
}

/*Template videos and image*/
.blog_1{
    margin-left: 90px;
    margin-right: 90px;
}
.image{
    margin-left: 180px;
    margin-top: 65px;
}
ul li {
    text-align: center;
    list-style: none;
  }

.heading h1{
    color: black;
    text-align:  center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.heading h2{
    color:  var(--secondary-color);
    margin-left: 180px;
}
.heading li{
    color: var(--secondary-color);
    margin-left: 180px;
    font-size:19px;
}

.uses h2{
    color: var(--secondary-color);
    margin-left: 180px;
    margin-top: 30px;
}

.uses li{
    color: var(--secondary-color);
    margin-left: 180px;
    font-size:19px;
    
}

  .dropbtn {
    background-color: #129766;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
 }
 .nav-item:hover, .-nav-item:focus {
    background-color: whitesmoke;
 }
 .dropbtn:hover, .dropbtn:focus {
    background-color: whitesmoke;
 }
 .searchField {
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
 }
 .searchField:focus {outline: 3px solid #ddd;}
 .dropdown {
    position: relative;
    display: inline-block;
 }
 .dropdownList {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    right: 0%;
 }
 .dropdownList a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
 }
 .dropdown a:hover {background-color: #ddd;}
 .show {display: block;}

 /* ul.dropdown li {
    position: relative;

    static
    relative
    fixed
    absolute
    sticky

 } */
