@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
   
}




/*next and Previous buttton*/
.nextprev a.w3-right, .nextprev a.w3-left {
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
}
.nextprev a {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.ws-btn {
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none; 
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-right {
    float: right!important;
}

/*Template*/
.blog_1{
    margin-left: 90px;
    margin-right: 90px;
}
.image{
    margin-left: 180px;
    margin-top: 65px;
}
.next{
    margin-left: 5000px;
    margin-bottom:60px;
}
.header h1{
    color: rgb(70, 242, 70);
    text-align:  center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.header h2{
    color:  var(--secondary-color);
    margin-left: 180px;
}
.header li{
    color: var(--secondary-color);
    margin-left: 180px;
    font-size:19px;
}

.uses h2{
    color: var(--secondary-color);
    margin-left: 180px;
    margin-top: 30px;
}

.uses li{
    color: var(--secondary-color);
    margin-left: 180px;
    font-size:19px;

}

